[Software\BigFix\EnterpriseClient]
EnterpriseClientFolder         = /opt/BESClient

[Software\BigFix\EnterpriseClient\GlobalOptions]
StoragePath                    = /var/opt/BESClient
LibPath                        = /opt/BESClient/BESLib

[Software\BigFix\EnterpriseClient\Settings\Client\_BESClient_EMsg_File]
value                          = /var/log/BESClient/besclient.log

[Software\BigFix\EnterpriseClient\Settings\Client\_BESClient_EMsg_Detail]
value                          = 0

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer1]
effective date = Wed, 03 May 2017 13:01:13 -0500
value = http://172.16.10.13:52311/bfmirror/downloads/

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer2]
effective date = Wed, 03 May 2017 13:01:13 -0500
value = http://129.34.20.42:52311/bfmirror/downloads/

[Software\BigFix\EnterpriseClient\Settings\Client\__RelaySelect_Automatic]
effective date = Wed, 03 May 2017 13:01:13 -0500
value = 0
